* {
	font-family: 'Century Gothic';
}
/*navigation : menu*/

nav {
	width: 100%;
	background-color: rgba(85,54,87,0.5);
}

nav > ul {
	margin: 0;
	padding: 0;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav li {
	list-style-type: none;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a {
	display: inline-block;
	text-decoration: blink; /*change into none*/
}
/*ça veut dire quoi? A éclaircir:...*/

nav > ul > li > a {
	padding: 20px 30px;
	color: #FFF;
}

.clear {
	clear: both;
}

.sousmenu {
	display: none;
}
nav li:hover .sousmenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 10000; /*signification?*/
}

.sousmenu li {
	border-bottom: 1px solid #CCC;
}

.sousmenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-block:hover {
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

.menu-inline:hover {
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

.menu-speciales:hover {
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

.menu-block .sousmenu {
	background-color: rgb(230,100,40);
}
.menu-inline .sousmenu {
	background-color: rgb(000,160,240);
}
.menu-speciales .sousmenu {
	background-color: rgb(251, 216, 99);
}
.sousmenu li:hover a {
	color: #EEE;
	font-weight: bold;
}

.menu-block .sousmenu li:hover{
	background-color: rgb(210,77,60);
}
.menu-inline .sousmenu li:hover{
	background-color: rgb(210,77,60);
}
.menu-speciales .sousmenu li:hover{
	background-color: rgb(210,77,60);
}

p {
	text-align: center;	
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 80px;
}
p
.test {
	background-image: url("chevrons.png");
	background-size: 100%;
	background-position: center;
}