/* 

stylesheet main.css 

---------------

par Emilie

*/


.leschevrons {
		background-image: url("chevrons.png");
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;
	}

p {
	text-align: center;	
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 10%
	font-size: 12px
	font-weight:200;
}

article div p {
	text-align: initial;
}	

.exfooter {
	size: 70%
}	