#conteneur
{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	background-color: #B51430; 
}
.titrepage
{
	align-items: center;
	width: 30%
}
.logogroupe
{
	margin-top: 0.3%;
	margin-right: 0.3%;
}