#logoAHC
{
	display: flex;
	justify-content: space-around;
	height: 5em; 
	line-height: 5em;
	align-items: center;
	padding-top: 1em;

}


.nomEquipe
{
	line-height: 1;
}


footer
{
	background-color: rgba(106, 68, 68, 0.84);

}


.logoCH
{
	white-space: nowrap;
}