#logoAHC
{
display: flex;
justify-content: space-around;
height: 8em; 
line-height: 8em; 
white-space: nowrap;
}


.nomEquipe
{
vertical-align: middle;
}


footer
{
	background-color: silver;
	width: 30;
}

