#logoAHC
{
display: flex;
justify-content: space-between;

}
.logoACS
{
justify-content: flex-end;
}

<<<<<<< HEAD
.nomEquipe
{
	text-align: center;
	width: 550px;
	height: 100px;
}

footer
{
	background-color: silver;
}
=======

>>>>>>> ebc66eb4cbe6ce83e23a93d5479dc6125962a999
